---
import Base from '../layouts/Base.astro';
---

<Base title="About - mtdnot blog">
  <h1>About</h1>
  <p>mtdnotの技術ブログです。</p>
  <p>AI、複雑系、NixOS、マルチエージェントシステムなどについて書いています。</p>
  
  <h2>Author</h2>
  <ul>
    <li><a href="https://mtdnot.dev">mtdnot.dev</a></li>
    <li><a href="https://github.com/mtdnot">GitHub</a></li>
    <li><a href="https://x.com/mtdnot">X (Twitter)</a></li>
  </ul>
</Base>
